.shape {
    height: 0;
    width: 0;
    border-bottom: 30px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
}

.bg-blue {
    background-color: blue;
}

.bg-red {
    background-color: red;
}